@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>
    I am currently a senior in the College of Business Honors Program at Ohio University majoring in Management Information Systems and Business Analytics. I have a specific interest in the boundless opportunity at the intersection of Information Technology (IT) and cross-functional collaboration.

    IT is in the midst of a perception transition from being a cost center to being a revenue driver. It is creating competitive and strategic advantages to companies who support and prioritize it well. I plan on beginning a career in which I can contribute to this transition and increase a company’s advantage through IT.

    A key component of the IT advantage is having cross-functional collaboration within a company. The IT within a company could be world-class, but without business-wide buy in, it renders useless. I have a passion for leading, working in teams, and learning about what motivates individuals. I want to begin a career in which I can use these passions to further the growth of IT within a company across business functions.
</p>
