@{
    ViewBag.Title = "Contact Ian Klaus";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    33 Fern Street, Suite B<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    419.538.0110
</address>

<address>
    <strong>Work Email:</strong>   <a href="mailto:ik311015@ohio.edu">ik311015@ohio.edu</a><br />
    <strong>Personal Email:</strong> <a href="mailto:ihklaus29@gmail.com">ihklaus29@gmail.com</a>
</address>