@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"> 
    <h2>Ian H. Klaus</h2>
   <p>
    Learn more about Ian through the links and articles below. 
    </p>
</div>

<div class="row"> 
    <div class="col-md-4">
        <h3>Educational</h3>
        <p>
            Ian is in the College of Business Honors Program at Ohio University studying Management Information Systems and Business Analytics. 
            <strong>SD2 Assignment Links:</strong><br />
            @Html.ActionLink("Vets", "Index", "Vets") <br />
            @Html.ActionLink("Visits", "Index", "Visits") <br />
            @Html.ActionLink("Pets", "Index", "Pets") <br />
        </p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/">Learn more about OU &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Professional</h3>
        <p>Ian believes in being prepared in the workplace. Click below to see his Business Bench article on "The Preparedness Equation."  </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/pulse/preparedness-equation-ian-klaus/">The Business Bench &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Recreational</h3>
        <p>Outside of a educational and professional setting, Ian enjoys racing Laser sailboats on Lake Erie in the summers.</p>
        <p><a class="btn btn-default" href="https://www.laserinternational.org/blog/2018/04/03/introduction-to-laser-sailing/">Laser Racing &raquo;</a></p>
    </div>
</div>